/* Get rid of the default margin that the browser does */
body {
    margin:0;
}

h1{
    color: #4c6aa5;
}

/* Target the <ul> element in the navigation div */
#navigation ul{
    /* get rid of bulletpoints */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow is clipped and elements cant overflow */
    overflow: hidden;
    /* colour of the background */
    background-color: #5f84ce;
    /* position is always in place */
    position: fixed;
    top: 0;
    /* takes 100% of the browser's page */
    width: 100%;
    /* adds a border */
    border-bottom: 5px solid #4c6aa5;
}

/* Target all of the <li> elements in the navigation div */
#navigation li{
    /* position all of the li elements to the left */
    float: left;
}

/* Target all the <a> elements in the <li> in the navigation div */
#navigation li a{
    /* Display this as a block */
    display: block;
    /* All text is white */
    color: white;
    /* align the text to be in the center */
    text-align: center;
    /* add some white space around */
    padding: 24px 50px;
    /* get rid of the link underline */
    text-decoration: none;
}

#navigation a:hover {
  background-color: #A5B4D2;
}

#navigation a.active {
  background-color: #4c6aa5;
  color: white;
}

/* Main container */
.container{
    /* set to be the full size of the browser page */
    width: 85%;
    height: 100%;
    /* move a 100px down from the top margin */
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* Image div */
#image{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: block;
}

/* Main text div */
#main{
    /* Change the size to be automatic which is reflected on the block before it (image) */
    width: auto;
}

/* Style semantic tags */
.semantic_tags{
    font-size: 1.5em;
    color: #5f84ce;
}

pre{
    color: red;
    font-weight: bold;
}